@import url('https://fonts.googleapis.com/css?family=Black+Han+Sans');
/* Step 1 - Add a nice background */
body {
	margin: 60px;
	 background-image: linear-gradient(teal, blue);
	 font-family:'Black Han Sans', sans-serif;
	 
}
 .container{ display: flex;
	  flex-direction: column;
	  align-content: center;
	}
#cards
{
	margin: 39px;
}
/* Step 2 - Add a nice card style*/
.card {
position: relative;
	display: inline-block;
  border: 3px solid black;
  width:100px;
  height:140px;
  font-size: 30px;
  background-color: white;
  margin: 5px;
  color: white;
}

/* Step 3 - Add a nice hover effect*/
/*.card:hover {
 background-color: darkblue;
 color: darkblue;
}*/

/*Step 4 (+4 points) - Write a style for a flipped card */
.flipped {
    background:blue;
    color: white;
}

/* Step 5 - Add a nice style to the message element */
#message {
	background-color: white;

	border-style: solid;
	border-color: red;
	padding:20px;
  
}

/* Step 6 - Add 5 more style changes... */
/* 1) use flexbox to make cards evenly spaced*/
#gameboard
{
 
}

/* 2) */
#score {
	margin-left: 34%;
	background-color: white;
  width: 15%;
  font-size: 25px;
		padding: 30px;
}

}
/* 4) */
#container
{
	border-color: black;
}
   
#reset{
	width: 75px;
    margin-left: 35%;
	border: none;
	font-size: 20px;
	background-color:darkblue;
	color:white;
}
#reset:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 
    0 17px 50px 0 rgba(0,0,0,0.19);
}